<meta charset="UTF-8">
<title>{{choose title 'Mindlee'}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Tropical Resorts a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
<link rel="stylesheet"          href="bower_components/bootstrap/dist/css/bootstrap.min.css"       type="text/css" media="all">
<link rel="stylesheet"          href="bower_components/bootstrap-timepicker/css/timepicker.css"    type="text/css" media="all">
<link rel="stylesheet"          href="bower_components/hover/css/hover-min.css"                     type="text/css" media="all">

<!-- Index-Page-CSS --> <link rel="stylesheet" href="css/style.css" 		type="text/css" media="all">
<!-- Animate.CSS --> 	<link rel="stylesheet" href="css/animate.css" 		type="text/css" media="all">
<link rel="stylesheet" href="css/mindlee.css"       type="text/css" media="all">
<link rel="stylesheet" href="css/snackbar.css"       type="text/css" media="all">




<!-- Body-Font -->	 <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" type="text/css">
<!-- Logo-Font -->	 <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Cinzel+Decorative:400,900,700" type="text/css">
<!-- Navbar-Font --> <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700"			   type="text/css">
<!-- Google Font Cathy --> <link href="https://fonts.googleapis.com/css?family=Oxygen:300|Vibur" rel="stylesheet">

<!--bower stuff-->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

<!--Background Image for All Page-->
<img src="https://s-media-cache-ak0.pinimg.com/originals/c3/57/98/c3579807fc1a9fba998f836a1cb51499.jpg" id="bg" alt="">
