<!DOCTYPE html>
<html lang="en">
<head>
    {{> default-head-content }}
</head>
<body>
<!-- Header -->
<!-- <div class="container default-background" id="home"> -->
    <!-- Navbar -->
    {{> default-navbar}}
    <!-- //Navbar -->


    <!-- Content Below -->
    {{! Every view gets inserted here }}
    {{{body}}}


</body>


<!--Main App Front End Scripts-->
<script type="text/javascript" src="js/mindlee.js"></script>


<!-- Slider-JavaScript -->
<script src="js/responsiveslides.min.js"></script>

<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
<script type="text/javascript">
    $(document).ready(function() {
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 100,
            easingType: 'linear'
        };
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<a href="#" id="toTop" class="agileits w3layouts" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
<!-- //Slide-To-Top JavaScript -->

<!-- Smooth-Scrolling-JavaScript -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll, .navbar li a, .footer li a").click(function(event){
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- //Smooth-Scrolling-JavaScript -->
</html>