<script type="text/javascript" src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.js"></script>
<link rel="stylesheet"          href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css"    type="text/css" media="all">

<div class="main-content content container add-content bounceInUp">
    <div class="schedule_header container">
        <h2>Your Activity</h2>
    </div>
    <div class="schedule_body w3layouts">
        <form id="addActivityForm" role="form" method="get" action="/add_activity">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" placeholder="Name" name="title" value="Meeting" required="true">
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" class="form-control" id="date" placeholder="Date" name="date" value="2017-02-14" required="true">
            </div>

            <!--add time with bootstrap-timepicker-->
            <div class="form-group bootstrap-timepicker timepicker">
                <label for="time"> Time: </label>
                <input name="time" id="time" type="text" class="form-control" value="14:00" required="true" title="time">
            </div>


            <div class="form-group text-center">
                <h4 class="panel-title">Stress Level</h4>
                <input type="range" class="form-control" id="stress_level" value=50 name="stress_level" required="true" title="Stress Level"
                data-slider-id='ex1Slider' data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="50"/>
            </div>


            <div class="text-center">
                <a href="/schedule"> <input type="button" id="cancelAdd" class="btn-add-activity btn btn-default" value="Cancel" action="/"/> </a>
                <input type="submit" id="submitBtn" class="btn-add-activity btn btn-primary" value="Save"/>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $('#time').timepicker( {
        showInputs: false
    });

    // With JQuery
    $('#stress_level').slider({
        formatter: function(value) {
            return 'Current value: ' + value;
        }
    });
</script>
