<style>
    <style>
    .container {
        padding-top: 0%;
        border-bottom:1px solid white;
        border-top: 1px solid white;
    }
    .title {
        margin-top: 20%;
        /*padding-top: 20%;*/
        /*border: 1px solid ;*/


    }
    li.container > p {
        font-size: 15px;

    }
    .jumbotron{
        background-color: transparent;
        padding-top: 0px;
        padding-bottom:10px;
        margin-bottom:5px;

    }

    .h1,h1{
        font-size: 30px;
    }

    .h3,h3{
        font-size:17px;
        padding-bottom: 20px;
        font-family: Verdana, Arial, Helvetica, Futura, sans-serif;
    }
</style>

<div class="content">
    <h1 class="title rounded text-info jumbotron">
        Help and Faq
    </h1>
    <div class="jumbotron">
        <ul>
            <li class="container">
                <h3>How do i add an activity to my schedule?</h3>
                <p>
                    You can add activity to your schedule by going to "Your Schedule" by clicking the menu option in the top right hand corner. Then you click the plus button on the page to add and save a new activity.
                </p>
            </li>
            <li class="container">
                <h3>How do i delete an activity to my schedule?</h3>
                <p>
                    You can delete activity to your schedule by going to "Your Schedule" by clicking the menu option in the top right hand corner. Click the delete button for activity you wish to delete.
                </p>
            </li>
            <li class="container">
                <h3>When does the reminder will alert me when my stress level is high?</h3>
                <p>
                    The app will monitor the list of activities you currently have. When an activity has passed or ended, your stress level will be increased. Mindlee will keep track of the stress level and remind user to take a break.
                </p>
            </li>
            <li class="container">
                <h3>How to delete your account?</h3>
                <p>
                    Please contact us on how to delete your account through the "Contact Us" page in the menu bar.
                </p>
            </li>
        </ul>

    </div>
</div>
