<style>

    .container {
        padding-top: 0%;
        border-bottom:1px solid white;
        border-top: 1px solid white;
        padding-left: 50px;
        padding-right: 50px;
    }
    .title {
        margin-top: 14%;
        /*padding-top: 20%;*/
        /*border: 1px solid ;*/


    }
    li.container > p {
        font-size: 15px;

    }
    .jumbotron{
        background-color: transparent;
        padding-top: 0px;
        padding-bottom:10px;
        margin-bottom:5px;

    }

    .h1,h1{
        font-size: 30px;
        /*font-family: Verdana, Arial, Helvetica, Futura, sans-serif;*/
    }

    .h3,h3{
        font-size:17px;
        padding-bottom: 20px;
        /*font-family: Verdana, Arial, Helvetica, Futura, sans-serif;*/
    }
</style>

<div class="content">
    <h1 class="title rounded text-info jumbotron">
        Help and Faq
    </h1>
    <div class="jumbotron">
        <ul>
            <li class="container">
                <h3>How can I add an activity to my schedule?</h3>
                <p>
                    You can add an activity to your schedule by going to "Your Schedule" in
                        the menu option located at the top right hand corner of the app. In "Your Schedule",
                        you can add a new activity by clicking on the plus button to add and save a new activity.
                </p>
            </li>
            <li class="container">
                <h3>How can I delete an activity from my schedule?</h3>
                <p>
                    You can delete an activity from your schedule by going to "Your Schedule" in
                        the menu option located at the top right hand corner of the app. Click the delete
                        button for any activity you would like to delete.
                </p>
            </li>
            <li class="container">
                <h3>How does Mindlee alert me when my stress levels get too high?</h3>
                <p>
                    Mindlee will monitor the stress levels from your activities in your schedule. As the scheduled
                        item gets closer to its allotted time, your stress level will increase based off of the
                        stress level you have assigned to it when you created the activity. Once the scheduled
                        item has passed, whether you have de-stressed or not, your overall stress level will go down.
                        We know that stress levels are different for everyone. We are doing our best to calculate
                        it from as much of an objective view as possible. If you would like to know how you can
                        de-stress, please read the next FAQ item.
            </li>
            <li class="container">
                <h3>How do de-stressing activities work?</h3>
                <p>
                    You can find the "de-stress" page in the menu bar at the top right hand right hand corner of
                        the app. There, we have some recommended activities that you can do to help decrease your
                        stress levels. You can also add custom de-stressing activities.
                </p>
            </li>
            <li class="container">
                <h3>How can I delete my account?</h3>
                <p>
                    Please contact us on how to delete your account through the "Contact Us" page located in the menu bar.
                </p>
            </li>
        </ul>

    </div>
</div>
