<!--stuff for the circle radius bar-->
<link rel="stylesheet" href="css/circle.css">
<style type="text/css">

    .clearfix:before,.clearfix:after {content: " "; display: table;}
    .clearfix:after {clear: both;}
    .clearfix {
        *zoom: 1;
        text-align: center;
    }

    #stress_msg_1 {
        color: #00c7c9;
    }
    #stress_msg_2 {
        font-size: 100%;
        color: rgb(244, 244, 244);
    }

    #btn_destress {
        /*background-color: #C1C5C6;*/
        /*border-color: #C1C5C6;*/
        background-color: #7cff87;
        border-color: transparent;
        color: rgb(59, 33, 119);
        font-size: 120%;
    }

    #btn_schedule{
        background-color: #00d2d4;
        border-color: #00d2d4;
        font-size: 120%;
    }

    .clearfix {
        margin: 10% 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .c100 {
        background-color: rgba(195, 195, 195, 0.14);
        margin: 0 0 0 0;
    }
    .c100:after {
        background-color: rgba(204, 204, 204, 0.58);
    }
    .c100.green:hover > span {
        color: #3eff2b;
    }
    .c100 > span {
        color: white;
        font-weight: bold;
    }
    .c100.blue .bar, .c100.blue .fill {
        border-color: #f7f845 !important;
    }

    .c100.green .bar, .c100.green .fill {
        border-color: #62f84c !important;
    }

    .c100.orange .bar, .c100.orange .fill {
        border-color: #f89b3b !important;
    }

    .c100.red .bar, .c100.red .fill {
        border-color: #dd2b1b !important;
    }
    .c100.red:hover > span {
        color: #dd2919;
    }
</style>
<!--stuff for the circle radius bar-->

<div class="homepage-background">

        {{#with data}}
        <h2 class="homepage-greeting-font">
            Good Afternoon,
        </h2>
        <h2 class="homepage-name-font">{{name}}</h2>

        <div class="stress-level center">
                <div class="clearfix">
                    <a href="/destress">
                        <div class="c100 big" id="my-radius-bar">
                            <span id="total_stress" data-value="{{total_stress}}">{{total_stress}}</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </a>
                </div>
            <div class="stress-note text-center homepage-font"text-center>
                <h2 id="stress_msg_1"> Your Stress Level </h2>
                <p id="stress_msg_2"></p>
                <!--<strong class="text-primary">{{choose ../message "Take 10 deep breaths"}}</strong>-->
                <!--<a id="btn_destress" href="/destress" class="btn btn-primary btn-lg">De-stress</a> -->
            </div>
        </div>
        {{/with}}

        <!--<div class="jumbotron">-->
        <!--</div>-->

    <div class= btn_flex>
        <a href="/schedule">
            <button type="button" id = "btn_schedule" class="btn btn-primary btn-lg"> Go to Your Schedule </button>
        </a>
        <a href="/destress">
            <button type="button" id ="btn_destress" class="btn btn-primary btn-lg">De-stress and Relax</button>
        </a>
    </div>


   <!-- <a href="/schedule" class="btn-block btn btn-primary btn-lg">Go to schedule</a> -->

    <!-- Use a button to open the snackbar -->
    <!--<button onclick="showReminder()">Show Snackbar</button>-->


</div>

<script>

    let $total_stress = $("#total_stress");
    let $radius = $("#my-radius-bar");
    let $stress_msg = $("#stress_msg_2");
    let total = $total_stress.data('value');
    if (total < 100) {
        $radius.addClass('p' + total);
    } else {
        $radius.addClass('p100');
    }
    if (total < 35) {
        $radius.addClass('green');
        $stress_msg.text('Life is calm')
    } else if (total < 75) {
        $radius.addClass('blue');
        $stress_msg.text('Seems like your stress is increasing')
    } else if (total < 100) {
        $radius.addClass('orange');
        $stress_msg.text('You should take time to destress soon')
    } else {
        $radius.addClass('orange red');
        $stress_msg.text('Don\'t push yourself too hard, relax.')
    }
</script>
