<div class="main_content container">
    <h2 class="h3">
        Good Afternoon,
    </h2>
    <h2>Rob</h2>

    <div class="container">
        <p>There is nothing yet</p>
    </div>

    <button>
        <a href="/schedule">Go to schedule</a>
    </button>
    <!--{{> test1}}-->
</div>
