<div class="main-content container jumbotron wow bounceInLeft">
        <h2 class="h3 greeting text-primary">
            Good Afternoon,
        </h2>
        <h2>Rob</h2>

        <div class="container stress-level">
            <h1 class="text-danger">
                73
            </h1>
            <div class="stress-note text-center"text-center>
                <h2> Your Stress Level </h2>
                <p>Hmm, it's a little high . . . </p>
                <strong class="text-primary">Take 10 deep breaths</strong>
            </div>
        </div>

        <!--<div class="jumbotron">-->
        <!--</div>-->


        <a href="/schedule">
            <button class="btn-block btn-group-justified">
                Go to schedule
            </button>
        </a>

</div>
