<div class="content main-content container jumbotron">
        <h2 class="h3 greeting">
            Good Afternoon,
        </h2>
        <h2>Rob</h2>

        <h2>
            Your Stress Level

        </h2>

        <!--<div class="jumbotron">-->
        <!--</div>-->

        <a href="/schedule">
            <button class="btn-block btn-group-justified">
                Go to schedule
            </button>
        </a>

</div>
