<div class="container homepage-background">
        <h2 class="homepage-greeting-font">
            Good Afternoon,
        </h2>
        <h2 class="homepage-name-font">Rob</h2>

        {{#with data}}
        <div class="container stress-level">
            <h1 class="text-danger">
                {{ total_stress }}
                <!--TODO: this is temporary implementation, which sums all stress level-->
                <!--implement a way to increment stress level later on when -->
            </h1>
            <div class="stress-note text-center homepage-font"text-center>
                <h2> Your Stress Level </h2>
                <p>Hmm, it's a little high . . . </p>
                <strong class="text-primary">Take 10 deep breaths</strong>
            </div>
        </div>
        {{/with}}

        <!--<div class="jumbotron">-->
        <!--</div>-->


        <a href="/schedule">
            <button class="btn-block btn-group-justified">
                Go to schedule
            </button>
        </a>

    <!-- Use a button to open the snackbar -->
    <!--<button onclick="showReminder()">Show Snackbar</button>-->


</div>

