<!--stuff for the circle radius bar-->
<style type="text/css">

    .clearfix:before,.clearfix:after {content: " "; display: table;}
    .clearfix:after {clear: both;}
    .clearfix {
        *zoom: 1;
        text-align: center;
    }

    #stress_msg_1 {
    }
    #stress_msg_2 {
        font-size: 1.5em;
    }
    #btn_destress {
        margin-top: 3%;
        background-color: #0bb46d;
        border-color: #0bb46d;
    }
</style>
<link rel="stylesheet" href="css/circle.css">
<!--stuff for the circle radius bar-->





<div class="homepage-background">
        <h2 class="homepage-greeting-font">
            Good Afternoon,
        </h2>
        <h2 class="homepage-name-font">Rob</h2>

        {{#with data}}
        <div class="stress-level center">
            <div class="clearfix">
                <div class="c100 p50 big green">
                    <span>{{total_stress}}%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
            <div class="stress-note text-center homepage-font"text-center>
                <h2 id="stress_msg_1"> Your Stress Level </h2>
                <p id="stress_msg_2">Hmm, it's a little high . . . </p>
                <!--<strong class="text-primary">{{choose ../message "Take 10 deep breaths"}}</strong>-->
                <a id="btn_destress" href="/destress" class="btn btn-primary btn-lg">De-stress</a>
            </div>
        </div>
        {{/with}}

        <!--<div class="jumbotron">-->
        <!--</div>-->

    <a href="/schedule" class="btn-block btn btn-primary btn-lg">Go to schedule</a>

    <!-- Use a button to open the snackbar -->
    <!--<button onclick="showReminder()">Show Snackbar</button>-->


</div>

