<!--stuff for the circle radius bar-->
<style type="text/css">

    .clearfix:before,.clearfix:after {content: " "; display: table;}
    .clearfix:after {clear: both;}
    .clearfix {
        *zoom: 1;
        text-align: center;
    }

    #stress_msg_1 {
        color: #00c7c9;
    }
    #stress_msg_2 {
        font-size: 100%;
        color: rgb(244, 244, 244);
    }

    #btn_destress {
        background-color: #C1C5C6;
        border-color: #C1C5C6;
    }

    #btn_schedule{
        background-color: #2bbfbe;
        border-color: #2bbfbe;
    }

</style>
<link rel="stylesheet" href="css/circle.css">
<!--stuff for the circle radius bar-->

<div class="homepage-background">
        <h2 class="homepage-greeting-font">
            Good Afternoon,
        </h2>
        <h2 class="homepage-name-font">Rob</h2>

        {{#with data}}
        <div class="stress-level center">
            <div class="clearfix">
                <div class="c100 p50 big green">
                    <span>{{total_stress}}%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
            <div class="stress-note text-center homepage-font"text-center>
                <h2 id="stress_msg_1"> Your Stress Level </h2>
                <p id="stress_msg_2">Hmm, it's a little high . . . </p>
                <!--<strong class="text-primary">{{choose ../message "Take 10 deep breaths"}}</strong>-->
                <!--<a id="btn_destress" href="/destress" class="btn btn-primary btn-lg">De-stress</a> -->
            </div>
        </div>
        {{/with}}

        <!--<div class="jumbotron">-->
        <!--</div>-->

    <div class="">
        <div class= btn_flex>
            <a href="/schedule">
                <button type="button" id = "btn_schedule" class="btn btn-primary btn-lg"> Go to Your Schedule </button>
            </a>
            <a href="/destress">
                <button type="button" id ="btn_destress" class="btn btn-primary btn-lg">De-stress and Relax</button>
            </a>
        </div>
    </div>

   <!-- <a href="/schedule" class="btn-block btn btn-primary btn-lg">Go to schedule</a> -->

    <!-- Use a button to open the snackbar -->
    <!--<button onclick="showReminder()">Show Snackbar</button>-->


</div>

