<style>
    .container {
        padding-top: 8em;

        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;

    }

    #title_1 {
        font-family: 'Yantramanav', sans-serif;
        color: #f4f4f4;
        font-size: 250%;
        text-align: center;

        margin-bottom: 1em;
    }

    #title_2 {
        font-family: 'Yantramanav', sans-serif;
        color: #ffffff;
        font-size: 120%;
        text-align: center;

        margin-bottom: 1em;
    }

    #title_3 {
        font-family: 'Yantramanav', sans-serif;
        color: #00C7C9;
        font-size: 150%;
        text-align: center;

        margin-bottom: 1em;
    }

    #enter-btn {
        background-color: rgba(0, 199, 201, 0.8);
        border: rgba(0, 199, 201, 0.8);
        font-family: "Oxygen";
        color: #FFFFFF;
        font-weight: bold;
        font-size: 100%;
    }

</style>


<!--fill instructions here-->

<div class="container destress-title fadeIn">
    <p id="title_1"> Welcome </p>
    <p id="title_2"> Mindlee is an app that helps individuals find some peace of
        mind and be more aware of their stress levels. </p>
    <p id="title_2"> With Mindlee, you can find a new way to manage your schedule
        and the stress levels that come with it. </p>
    <p id="title_2"> We will remind you when your stress levels get too high. </p>

    <p id="title_3"> Relax. Concentrate. Breathe.</p>
</div>



<div class = "btn_destress">
    <div class= "btn_flex">
        <a href="/home">
            <button type="button" id="enter-btn" class="btn btn-primary btn-lg"> Enter to Relax</button>
        </a>
    </div>
</div>