<div class="content main-content container jumbotron">
        <h2 class="h3 greeting">
            This is a login screen
        </h2>
        <a href="/home">
            <button class="btn-block btn-group-justified">
                Login
            </button>
        </a>

</div>
