<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Video Background -->
    <div class="fullscreen-bg">
        <video loop muted autoplay poster="video/nature.mp4" class="fullscreen-bg__video">
            <source src="video/nature.mp4" type="video/mp4">
            <source src="video/nature.webm" type="video/webm">
        </video>
    </div>

    <meta charset="UTF-8">
    <title>{{choose title 'Mindlee'}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300|Vibur" rel="stylesheet">

    <link rel="stylesheet"          href="bower_components/bootstrap/dist/css/bootstrap.min.css"       type="text/css" media="all">
    <link rel="stylesheet" href="css/vcarousel.css">

    <!--bower stuff-->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>


    <link rel="stylesheet" href="css/login.css" type="text/css">
</head>
<body>


<style>
    .ticker-headline {
        font-size: small;
    }
    .bg-info {
        margin-top: 10em;
    }
</style>


<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Mindlee</h1>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="#">
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name" value="test"/>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label for="email" class="cols-sm-2 control-label">Password</label>-->
                    <!--<div class="cols-sm-10">-->
                        <!--<div class="input-group">-->
                            <!--<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>-->
                            <!--<input tfype="text" class="form-control" name="email" id="email"  placeholder="Enter your Email" value="rob@ucsd.edu"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"  placeholder="pass123"/>
                        </div>
                    </div>
                </div>

                <!--<div class="form-group">-->
                    <!--<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>-->
                    <!--<div class="cols-sm-10">-->
                        <!--<div class="input-group">-->
                            <!--<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>-->
                            <!--<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group ">
                        <button type="button"  id = "login_button_custom" class="btn btn-primary btn-lg btn-block login-button">Sign In</button>
                </div>
                <div class="login-register">
                    <a href="/home">Don't have an account?</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="bg-info">
    <div class="container">
        <div id="carousel-example-vertical" class="carousel vertical slide">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <p class="ticker-headline">
                        <a href="#">
                            <strong>Read: </strong>
                            Please test the app in Responsive Mode (See Below)
                        </a>
                    </p>
                </div>
                <div class="item">
                    <p class="ticker-headline">
                        <a href="#">
                            <strong>Chrome: </strong>
                            Right click the page and click 'Inspect'
                        </a>
                    </p>
                </div>
                <div class="item">
                    <p class="ticker-headline">
                        <a href="#">
                            <strong>Next: </strong>
                            On top of the screen, choose Responsive in the menu
                        </a>
                    </p>
                </div>
                <div class="item">
                    <p class="ticker-headline">
                        <a href="#">
                            <strong>Firefox:</strong>
                            Right click, and Inspect Element(Q)
                        </a>
                    </p>
                </div>
                <div class="item">
                    <p class="ticker-headline">
                        <a href="#">
                            <strong>Next:</strong>
                            Look for phone-like icon next to gear on top bar
                        </a>
                    </p>
                </div>
            </div>

            <!-- Controls -->
            <a class="up carousel-control" href="#carousel-example-vertical" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="down carousel-control" href="#carousel-example-vertical" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<!-- Bootstrap-JavaScript --> <script type="text/javascript" src="js/mindlee.js"></script>
<script>
    $("#login_button_custom").click( function(e) {
        e.preventDefault();
        let name = $("#name").val();
        console.log('user clicked login with name: ' + name);
        $.post('/store_name', { 'name': name } , function (req, res) {
        });
        window.location.replace("/landing");
    });
</script>



</body>
</html>
