<div class="main-content schedule-content container wow bounceInUp">

    <div class="row schedule_header container">
        <label class="col-md-8" for="">Schedule</label>
        <form class="col-md-1" action="/add" style="float: right">
            <button class="btn-block btn-group-lg"><img type="submit" class="plus" src="images/plus.svg" alt=""></button>
        </form>
    </div>

    <div class="schedule_body w3layouts">

        <div class="container activity">
            <p class="act_name">Activity Name</p>
            <p class="act_time">Activity time</p>
            <button>Edit</button>
        </div>
        <div class="container activity">
            <p class="act_name">Activity Name</p>
            <p class="act_time">Activity time</p>
            <button>Edit</button>
        </div>
        <div class="container activity">
            <p class="act_name">Activity Name</p>
            <p class="act_time">Activity time</p>
            <button>Edit</button>
        </div>
    </div>
</div>
