<div class="content schedule-content container">
    <div class="schedule_header container">
        <label for="">Schedule</label>
        <form action="/add">
            <button><img type="submit" class="plus" src="images/plus.svg" alt=""></button>
        </form>
    </div>

    <div class="schedule_body w3layouts">

        <div class="container activity">
            <p class="act_name">Activity Name</p>
            <p class="act_time">Activity time</p>
            <button>Edit</button>
        </div>
        <div class="container activity">
            <p class="act_name">Activity Name</p>
            <p class="act_time">Activity time</p>
            <button>Edit</button>
        </div>
        <div class="container activity">
            <p class="act_name">Activity Name</p>
            <p class="act_time">Activity time</p>
            <button>Edit</button>
        </div>
    </div>
</div>
