<div class="main-content schedule-content container wow bounceInUp">

    <div class="row schedule_header container">
        <label class="col-md-8" for="">Schedule</label>
        <form class="col-md-1" action="/add" style="float: right">
            <button class="btn-block btn-group-lg"><img type="submit" class="plus" src="images/plus.svg" alt=""></button>
        </form>
    </div>

    <div class="schedule_body w3layouts">

        {{#with data}}
            {{#each activities}}
                <div class="container activity">
                    <p>Title: {{ title }}</p>
                    <p class="act_date">Date: {{date}}</p>
                    <p class="act_time">Time: {{time}}</p>
                    <p class="stress_level">Stress Level: {{stress_level}}</p>
                    <button>Edit</button>
                </div>
            {{/each}}
        {{/with}}

    </div>
</div>
