<style>
    .container {
        padding-top: 8em;

        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;

        align-items: center;
    }

    .btn-block{
        background-color: rgba(0, 210, 212, 0.8);
        border: rgba(0, 210, 212, 0.8);
        font-family: "Oxygen";
        color: #FFFFFF;
        font-weight: bold;
        font-size: 100%;
    }


    .jumbotron{
        background-color: transparent;
    }

    .p2,p2{
        padding-left: 350px;
        font-size:20px;
    }

    #title_1 {
        font-family: 'Yantramanav', sans-serif;
        color: #f4f4f4;
        font-size: 230%;
        text-align: center;

        margin-bottom: 0.5em;
    }

    #title_2 {
        font-family: 'Yantramanav', sans-serif;
        color: #ffffff;
        font-size: 120%;
        text-align: center;

        margin-bottom: 1em;
    }

    #title_3 {
        font-family: 'Yantramanav', sans-serif;
        color: #ffffff;
        font-size: 110%;
        text-align: center;

        margin-bottom: 3em;
    }

</style>



<div class="container main-content">
    <p id="title_1"> Thank You! </p>
    <div class="destress-body">
        <p id="title_2"> Your message has been received. </p>
        <p id="title_2"> Someone will get in touch with you in the next 72 hours.</p>
        <p id="title_3"> -Team Mindlee</p>
    </div>

    <a class="" style="align-content: center;" href="/home">
        <button class="btn btn-block btn-group-lg btn-primary btn-check-stress">
            Return Home
        </button>
    </a>
</div>


