<!doctype html>

<html>
<head>
    <title>This Page is Unimplemented :(</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/hci-friends.css">
</head>

<body>
<div class="container">
    <h1>This Page is Unimplemented :(</h1>
    <a href="/" class="button">Home Screen</a>
</div>

</body>
<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/hci-friends.js"></script>
</html>
