@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lato:100|Montserrat:100|Yantramanav:100);

body {
    font-family: 'Yantramanav', sans-serif;
    color: #FFFFFF;

    background: rgba(192,108,132,1);
    background: -moz-linear-gradient(top, rgba(192,108,132,1) 0%, rgba(192,108,132,1) 15%, rgba(108,91,123,1) 50%, rgba(53,92,125,1) 85%, rgba(53,92,125,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(192,108,132,1)), color-stop(15%, rgba(192,108,132,1)), color-stop(50%, rgba(108,91,123,1)), color-stop(85%, rgba(53,92,125,1)), color-stop(100%, rgba(53,92,125,1)));
    background: -webkit-linear-gradient(top, rgba(192,108,132,1) 0%, rgba(192,108,132,1) 15%, rgba(108,91,123,1) 50%, rgba(53,92,125,1) 85%, rgba(53,92,125,1) 100%);
    background: -o-linear-gradient(top, rgba(192,108,132,1) 0%, rgba(192,108,132,1) 15%, rgba(108,91,123,1) 50%, rgba(53,92,125,1) 85%, rgba(53,92,125,1) 100%);
    background: -ms-linear-gradient(top, rgba(192,108,132,1) 0%, rgba(192,108,132,1) 15%, rgba(108,91,123,1) 50%, rgba(53,92,125,1) 85%, rgba(53,92,125,1) 100%);
    background: linear-gradient(to bottom, rgba(192,108,132,1) 0%, rgba(192,108,132,1) 15%, rgba(108,91,123,1) 50%, rgba(53,92,125,1) 85%, rgba(53,92,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c06c84', endColorstr='#355c7d', GradientType=0 );
    background-attachment: fixed;


    height: 100vh;
    width: 100vw;
}

.mySlides {
    display: none
}

.greeting {
    /*margin-top: 280px;*/
}

.content {
    align-content: center;
    vertical-align: middle;
    position: absolute;
    padding-top: 10%;
    width: 100%;
}

.contact-content{
    padding-top:120px;
}

.schedule-content {
    transform: translate(0%, 35%);
}

/*for schedule pages*/
.schedule_header {
    padding-top: 50px;
}

.plus {
    height: 20px; width: 20px; overflow: hidden;
    position: relative;
}

.schedule_body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.schedule_header {
    align-content: right;
}

.add-content {
    margin-top: 20%;
    border: solid 1px #ffffff;
    border-radius: 33px;
    padding: 4%;
    align-content: center;
    transform: translate(0%, 10%);
}

/*** Fade In for effects (see .activity) ***/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/*destress css start*/
.activity {
    border: solid 1px #585858;
    border-radius: 5px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.4);
    align-items:center;
    margin: 5px;
    padding: 3%;


    /*-webkit-animation: fadein 2s;*/
    /*-o-animation: fadein 2s;*/
    /*animation: fadein 2s;*/
}

.bootstrap-timepicker-widget table td{
    color: black;
}

/*destress title fade-in animation*/
.destress-title{
    background-color: transparent;

    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.destress-body{
    background-color: transparent;

    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/*end destress fade-in animation*/

.btn {
    font-weight: bold;
}

.btn-success{
    background-color: transparent;
    border-color: transparent;
}

.destress-stress-level{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 1px transparent;
    border-radius: 5px;
    background-color: transparent;
    margin: 5px;
    padding: 3%;
}

.btn_destress{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    display: flex;
    flex-direction: column;

    margin-top: 8px;
}

.btn_flex{
    margin-top: 8px;
    margin-bottom: 8px;
}



h1.text-danger {
    color: red;
    border: solid 19px rgba(255, 0, 0, 0.37);
    border-radius: 58%;
    margin: 50px 2em 30px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.stress-note {
    margin-bottom: 30px;
}

/*add activity page */
#ex1Slider .slider-selection {
    background: rgba(0, 210, 212, 0.39);
}

#ex1Slider .slider-handle{
    background-color: #00d2d4;
    background-image: none;
}

.btn-add-activity {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

/* default CSS */

.default-background{
    background-color: #f2efdf;
 }


/***
          Navigation  Section
***/
#mindlee-name {
    margin-top: 0.7%;
    text-align: center;
    padding-left: 1.3em;
    font-size: 400%;
}

.nav-header-font {
    font-family: "Vibur";
    font-size: 400%;
    color: #3d1937;
}

.navigation-font {
    font-family: 'Yantramanav', sans-serif;
}

#navbar{
    /*background-color: #ffffff;*/
    background-color: rgba(255, 255, 255, 0.9);
}


.navbar-default{
    background-color: rgba(0, 0, 0, 0);
}

.body-header-font {
    font-family: "Oxygen";
    font-size: 200%;
}


button#hamburger {
    margin-right: 30px;
    margin-top: 25px;
    border-radius: 5px;
    border-color: #F18b95;
    border-spacing: 20px 20px;
    background-color: transparent;
}


.navbar-toggle{
    border: 2px solid transparent;
}

/*          Homepage CSS            */
.homepage-background {
    padding-top: 8em;
}

.homepage-greeting-font {
    color: #f8b195;
}

.homepage-name-font {
    font-size: 200%;
    color: #FFFFFF;
}

div.page-header {
    padding-bottom: 0%;
    margin: 34px 0px 4px;
    border-bottom: 0px solid #f7f7f7;
    padding-top: 20%;
}


#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;

    background-repeat: no-repeat;

    /* Preserve aspect ratio
    min-width: 100%;
    min-height: 100%;
    opacity: 0.9;

    filter: blur(60px);
}

.faq-content {
    padding-top: 5em;
}

.data-background {
    /*margin-top: 10%;*/
    /*padding-top: -100%;*/

    border-radius: 3%;
    height: 100vh;
    background: rgba(250,250,250,0.71);
}


.btn_flex{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

.btn-lg{
    font-size: 17px;
}


/*schedule page css*/
.schedule-title{
    color: #ffffff;
    font-size: 170%;
}

.stress_level{
    float: right;
    font-size: 140%;
    color: #7cff87;
}

.act_date, .act_time {
    flex: 1;
    font-size: 110%;
    font-weight: bold;
}
.text-right {
    flex: 1.5;
}

.on-same-line{
    display: inline-block;
}


/*fixing "go to stress level button placement*/
.btn-group-justified{ /*bootstrap class extended*/
    padding-top:3em;
}




.schedule-row {
    display: flex;
}

/*stress page css*/

