@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


body {
    font-family: "Lato", sans-serif;
    background-color: #f2efdf;
}

.mySlides {
    display: none
}

.greeting {
    /*margin-top: 280px;*/
}

.content {
    align-content: center;
    vertical-align: middle;
    position: relative;
    float: left;
}

.contact-content{
    padding-top:120px;
}

.schedule-content {
    transform: translate(0%, 35%);
}

/*for schedule pages*/
.schedule_header {
    padding-top: 50px;
}

.plus {
    height: 20px; width: 20px; overflow: hidden;
    position: relative;
}

.schedule_body {
    display: block;
    align-content: center;
}
.schedule_header {
    align-content: right;
}

.add-content {
    margin-top: 20%;
    border: solid 2px #bbbbbb;
    border-radius: 33px;
    padding: 3%;
    align-content: center;
    transform: translate(0%, 10%);
}

/*** Fade In for effects (see .activity) ***/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.activity {
    border: solid 2px #0b0b0b;
    border-radius: 25px;
    align-content: center;
    margin: 10px;
    padding: 3%;

    /*-webkit-animation: fadein 2s;*/
    /*-o-animation: fadein 2s;*/
    /*animation: fadein 2s;*/
}

h1.text-danger {
    color: red;
    border: solid 19px rgba(255, 0, 0, 0.37);
    border-radius: 58%;
    margin: 50px 2em 30px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.stress-note {
    margin-bottom: 30px;
}

/*add activity page */
#ex1Slider .slider-selection {
    background: #BABABA;
}

.btn-add-activity {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

/* default CSS */

.default-background{
    background-color: #f2efdf;
 }


/***
          Navigation  Section
***/
#mindlee-name {
    text-align: center;
    padding-left: 1em;
}

.nav-header-font {
    font-family: "Vibur";
    font-size: 400%;
    color: #413659;
}

.navigation-font {
    font-family: "Oxygen";
}

#navbar{
    /*background-color: #ffffff;*/
    background-color: rgba(255, 255, 255, 0.9);
}


.navbar-default{
    background-color: rgba(0, 0, 0, 0);
}

.body-header-font {
    font-family: "Oxygen";
    font-size: 200%;
}

button#hamburger {
    margin-right: 25px;
    margin-top: 25px;
}
/*          Homepage CSS            */
.homepage-background {
    padding-top: 120px;
}

.homepage-greeting-font {
    font-family: "Oxygen";
    color: #422335;
}

.homepage-font {
    font-family: "Oxygen";
}

.homepage-name-font {
    font-family: "Oxygen";
    font-size: 200%;
    color: #FFFFFF;
}

div.page-header {
    padding-bottom: 0%;
    margin: 34px 0px 4px;
    border-bottom: 0px solid #f7f7f7;
    padding-top: 20%;
}


#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;

    filter: blur(50px);
}

.faq-content {
    padding-top: 5em;
}

.data-background {
    /*margin-top: 10%;*/
    /*padding-top: -100%;*/

    border-radius: 3%;
    height: 100vh;
    background: rgba(250,250,250,0.71);
}


/*schedule page css*/

/*fixing "go to stress level button placement*/
.btn-group-justified{ /*bootstrap class extended*/
    padding-top:3em;
}
