@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


body {
    font-family: "Lato", sans-serif
}

.mySlides {
    display: none
}

.greeting {
    /*margin-top: 280px;*/
}

.content {
    align-content: center;
    vertical-align: middle;
    position: relative;
    float: left;
}

.main-content {
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-top: 120px;*/
    padding-top: 120px;
    /*transform: translate(0%, 130%);*/
}

.schedule-content {
    transform: translate(0%, 35%);
}

/*for schedule pages*/
.schedule_header {
    padding-top: 50px;
}

.plus {
    height: 20px; width: 20px; overflow: hidden;
    position: relative;
}

.schedule_body {
    display: block;
    align-content: center;
}
.schedule_header {
    align-content: right;
}

.add-content {
    margin-top: 20%;
    border: solid 2px #bbbbbb;
    border-radius: 33px;
    padding: 3%;
    align-content: center;
    transform: translate(0%, 10%);
}

.activity {
    border: solid 2px #0b0b0b;
    border-radius: 25px;
    align-content: center;
    margin: 10px;
    padding: 3%;
}

.text-danger {
    color: red;
    border: solid 2px red;
    margin-top: 50px;
    margin-bottom: 20px;
}

.stress-note {
    margin-bottom: 30px;
}

/*add activity page */
#ex1Slider .slider-selection {
    background: #BABABA;
}

.btn-add-activity {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

/*Navigation CSS*/

.nav-header-font {
    font-family: "Vibur";
    font-size: 400%;
    color: #046380;
}

.navigation-font {
    font-family: "Oxygen";
}

.body-header-font {
    font-family: "Oxygen";
    font-size: 200%;
}

/*Homepage CSS*/
.homepage-background {
    background-color: #ffffff;
}

.homepage-greeting-font {
    font-family: "Oxygen";
    color: #3e606f;
}

.homepage-font {
    font-family: "Oxygen";
}

.homepage-name-font {
    font-family: "Oxygen";
    font-size: 200%;
    color: #91aa9d;
}



