.schedule_header {
    padding-top: 50px;
}

.plus {
 height: 20px; width: 20px; overflow: hidden;
    position: relative;
}

.schedule_body {
    display: block;
    align-content: center;
}
.schedule_header {
    align-content: right;
}

.activity {
    border: solid 2px #0b0b0b;
    align-content: center;
    margin: 10px;
}